<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{ asset('asset/widget.css') }}">
</head>
<body>
	<div class="container">
		<h1>{{ hotel.name }} - Customer Alliance</h1>
		<p>Rate:<span id="average"></span></p>
		<div class="reviews-container">
			<ul id="reviews"></ul>
			<button id="load-more-reviews-btn">Load More</button>
		</div>	
	</div>	
	

	<script type="text/javascript">
		var currentReviewPage = 1;

		initWidget()

		function initWidget()
		{
			loadAverage()
			loadReviews()
		}	

		function ajaxReques(url, callback)
		{
			var xhr = new XMLHttpRequest();

			xhr.onload = function () {
				if (xhr.status >= 200 && xhr.status < 300) {
					response = JSON.parse(xhr.response)
					callback(response)
				} else {
					console.log('The request failed!');
				}
			};

			xhr.open('GET', url);
			xhr.setRequestHeader('Accept', 'application/json'); 
			xhr.send();
		}

		document.getElementById('load-more-reviews-btn').addEventListener('click', function () {
			loadReviews()
		}, false);

		function addReviewsToReviewList(reviews)
		{
			var HTML = ''
			for (let i = 0; i < reviews.length; i++)
			{
				HTML += `<li>${reviews[i].score} - ${reviews[i].comment}</li>`
			}

			reviewList = document.getElementById('reviews')

			reviewList.innerHTML = reviewList.innerHTML + HTML;
		}

		function loadAverage()
		{
			ajaxReques('{{ domain }}/api/v1/hotels/{{ hotel.uuid }}/average', function(response){
				document.getElementById('average').textContent = response.average;
			})
		}

		function loadReviews(){
			ajaxReques('{{ domain }}/api/v1/hotels/{{ hotel.uuid }}/reviews?page=' + currentReviewPage, function(response){
				addReviewsToReviewList(response);
				currentReviewPage++;
			})	
		}	
	</script>
</body>
</html>